html, body{
  background-color: #E8E8E8;
  font-family: "Roboto Slab", serif;
  font-size: 100%;
  width: 100%;
}
.countries{
  fill: rgba(0, 0, 0, 1);
  stroke: #777;
  stroke-width: 0.5px;
}
path {
  fill: rgba(0, 0, 0, 0);
}
line {
  stroke: #555;
  stroke-width: 2px;
}
.hidden {
  display: none;
}
#mapSVG{
  position:relative;
  top:0px;
}
.svgcontainer{
  padding-left: 40px;
}
#countryId{
  position:absolute;
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
  text-transform: capitalize;
  top:100px;
  left:20px;
  font-size: 0.8em;
}
#warBox{
  position: fixed;
  top: 0px;
  right: 0px;
  height: 600px;
  width:250px;
  overflow: scroll;
}
.waritem{
  display: block;
  margin-bottom: 10px;
}
.waritem:not(:last-child) {
  margin-bottom: 10px;
}
.warT {
  display: inline-block;
  width:80px;
  color:rgba(0, 0, 0, 1);
}
.stWin{
  text-decoration: underline;
  -webkit-text-decoration-color: #98CFDD;
  text-decoration-color: #98CFDD;
}
.stLose{
  text-decoration: underline;
  -webkit-text-decoration-color: #C75957;
  text-decoration-color: #C75957;
}
.warV {
  display: inline-block;
  width:150px;
  color:rgba(0, 0, 0, 1);
}
#lEdit{
  top:735px;
  left:165px;
}
.small, .subheader{
  font-size: .7em;
}
.subheader{
    line-height: 1;
}
.inp{
  width:55px;
}
.inputDiv{
  width:70px;
  display: inline-block;
}
#BNeut, #BGreen, #BRad, #BSub{
  position: absolute;
  display: inline-block;
  text-align: left;
  top:765px;
}
#BNeut{
  left:165px;
}
#BGreen{
  left:340px;
}
#BRad{
  left:520px;
}
#BSub{
  left:705px;
}
#lKey{
  position: absolute;
  left: 700px;
  top:97px;
}
.header{
  width: calc(100% - 250px);
  line-height: 0;
  margin-top: 10px;
}
/* Bottom */
#xAxis path, #xAxis line, #yAxis path, #yAxis line {
  stroke: #ccc;
  fill: none;
  shape-rendering: crispEdges;
}
#xAxis{
  font-size: 0.5em;
}
#yAxis{
  font-size: 0.4em;
  font-weight: 100;
}
.label2{
  font-size: 0.6em;
  font-weight: 200;
}
.label1{
  font-size: 0.5em;
  font-weight: 100;
}
.sLine, .sDot{
  position: absolute;
  left:15px;
  font-weight: 400;
  font-size: .7em;
  width:100px;
  line-height: 1.2;
}
#cVar{
  padding-left: 0;
  margin-left: -5px;
}
.sLine{
  top:640px;
}
.sDot{
  top:730px;
}
.brushBG {
  fill: #ddd;
}
.brushGrid line,
.brushGrid path {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}
.brushGrid .minor line {
  stroke-opacity: .5;
  stroke-width: 1px;
}
.brush .extent {
  stroke: #44BAC1;
  fill: #44BAC1;
  fill-opacity: .365;
  shape-rendering:crispEdges;
}
.lines{
    stroke: #7ECF6E;
    stroke-width: 2;
    fill: none;
}